@model IEnumerable<HelpingHands.Models.Category>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped">
    <thead style="background-color:#178acc;color:white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <!--   @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId }) -->
                    <a href='@Url.Action("Edit", "Categories", new { id = item.CategoryId })'>
                        <span class="glyphicon glyphicon-pencil" title="Edit" />
                    </a>
                    |

                    <!--    @Html.ActionLink("Details", "Details", new { id=item.CategoryId }) -->                    
                    <a href='@Url.Action("Details", "Categories", new { id = item.CategoryId })'>
                        <span class="glyphicon glyphicon-list-alt" title="Detail" />
                    </a>
                    |

                    <!--     @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId }) -->
                    <a href='@Url.Action("Delete", "Categories", new { id = item.CategoryId })'>
                        <span class="glyphicon glyphicon-trash" title="Delete" />
                    </a>


                </td>
            </tr>
            }

</table>
